<h1>New User</h1>
<%= form_for @user do |f| %>
  <%= f.label 'Username' %><br>
  <%= f.text_field :username %><br>
  <%= f.label 'Email' %><br>
  <%= f.text_field :email, placeholder: 'example@example.com' %><br>
  <%= f.label 'Password' %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit 'Submit' %>
<% end %>

<!--
<%=# form_tag('/users', method: 'post') do %>
  <%=# label_tag(:username, 'Username') %><br>
  <%=# text_field_tag('user[username]') %><br>
  <%=# label_tag(:email, 'Email') %><br>
  <%=# text_field_tag('user[email]') %><br>
  <%=# label_tag(:password, 'Password') %><br>
  <%=# password_field_tag('user[password]') %><br><br>
  <%=# submit_tag('Submit') %>
<%# end %>
-->

<!--
<form accept-charset = "UTF-8" action = "/users" method = "post">
  <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
  Username:<br>
  <input type = "text" name = "user[username]"><br>
  Email:<br>
  <input type = "email" name = "user[email]"><br>
  Password:<br>
  <input type = "password" name = "user[password]"><br><br>
  <input type = "submit" name = "Submit">
</form>
-->